.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  height: 100%;

  .header_Itens {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    //padding: 20%;

    .header_Title {
      color: white;
      font-size: 80px;
      font-weight: bold;
      flex: 1;
    }

    .header_Profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      
  }
}

