<div>
    <div *ngIf="perguntaAtual">
      <!-- // Pergunta -->
      <app-quiz-pergunta [pergunta]="perguntaAtual"></app-quiz-pergunta>
      <!-- Respostas -->
      <app-quiz-respostas [isClicked]="isClicked" [perguntaAtual]="perguntaAtual" (responder)="responder($event)"></app-quiz-respostas>
      <!-- Feedback -->
      <app-quiz-feedback [feedbackMensagem]="feedbackMensagem"></app-quiz-feedback>
    </div>
    
    <!-- Resultado -->
    <div *ngIf="!perguntaAtual">
      <app-quiz-resultado [pontuacao]="pontuacao" [perguntas]="perguntas"></app-quiz-resultado>
    </div>
</div>
