<div *ngIf="perguntaAtual">
    <h2>{{ perguntaAtual.pergunta }}</h2>
    <div *ngFor="let resposta of perguntaAtual.respostas">
      <button (click)="responder(perguntaAtual, resposta)">
        {{ resposta.texto }}
      </button>
    </div>
  
    <div *ngIf="respostaCorreta !== undefined">
      <p *ngIf="respostaCorreta">Resposta Correta!</p>
      <p *ngIf="!respostaCorreta">Resposta Incorreta!</p>
    </div>
  </div>
<!--   
  <div *ngIf="!perguntaAtual">
    <h2>Fim do Quiz!</h2>
    <p>Pontuação: {{ indiceAtual }}/{{ perguntas.length }}</p>
  </div> -->
  