<div id="perguntaBackground">

    <div *ngIf="perguntaAtual">
      
      <h2 id="perguntaAtual">{{perguntaAtual.pergunta}}</h2>

      <div *ngFor="let i of perguntaAtual.respostas" class="containerRespostas">
        <div (click)="responder(perguntaAtual, i)" class="respostaButton" [class.disabled]="isClicked">{{i.texto}}</div>
      </div>

      <div id="resultadoResposta" *ngIf="feedbackMensagem">
        <p >{{feedbackMensagem}}</p>
      </div>
    </div>
    


    <div class="mainBody" *ngIf="!perguntaAtual">
      <h2 class="msgFinal">Fim do Quiz</h2>
      <p class="pontuacaoFinal">Pontuação {{pontuacao}} de {{perguntas.length}}</p>
    </div>

</div>
