
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 3rem;
}

.button-row {
    width: 100%;
    justify-content: center;
    display: flex;

}


.buttonJogar {

    text-align: center;
    justify-content: center;
    background-color: azure;
    height: 2.5rem;
    width:45%;
}
